<!--The content below is only a placeholder and can be replaced.-->
<div id="main" style="text-align:left">
  <h1 id="header">
    {{ title }}
    <img src="assets\cart.png" alt="cart" width="50px" height="50px"/> 
  </h1>

  <mat-grid-list  cols="4" rowHeight="2:2" style="margin-bottom: 10px;" >

    <mat-grid-tile *ngFor = "let buys of Shop">
        <button mat-button (click) = "addToCart(buys)">
            <img src="..\assets\{{buys.itemName}}" width="200px" height="200px"/><br>
            <p>{{buys.Description}}</p>
            <h2 style="background-color:grey">Price : R{{buys.Prices}}</h2>
          </button>
      </mat-grid-tile>
   
      <div *ngIf = "Check">
        
      </div>
  </mat-grid-list  >
  

       <!--Mat for shopping card -->
       <div>
          <h1> Shopping Cart.</h1><br>
  <mat-card style="background-color: skyblue;" *ngFor = "let Staff of MyCart">
      <img src="..\assets\{{Staff.itemName}}" width="50px" height="50px"/><br>
      Price: R{{Staff.Prices}}
      <button (click) = "delete(Staff)" style="background-color:skyblue;" mat-fab><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button>
         <br>
        <p>Number of items :</p><button (click)="DecQua(Staff)" > - </button><input type="text" [(ngModel)]="Staff.Quantity" (change)="TotalPrice(Staff)" ><button (click)="incQua(Staff)" > + </button>
        
    </mat-card>
  
    <div *ngIf = "emptyCart">
      <p style="background-color:yellowgreen;"> Your Cart is Empty! </p>
</div>

<!-- For my Sammary -->
<mat-card style="background-color: blue;">
<h2 style="text-align: center;"> Summary of My Purchase. </h2>
    Total Purchase : R{{newPrice}} <br>
    total items : {{newQuantity}}
<!-- this method not working properly
Total Purchase: R {{Talamount}}
-->
</mat-card>
        </div>
  
  <form></form>
</div>


